services:
  transcriber:
    build:
      context: .
    volumes:
      - "./:/app/"
    #command: "apt search libcublas"
    command: "python3 transcriber.py"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
